* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}
h1{
   font-size: large;
}

/* Навигация */
nav {
    position: static;
    top: 0;
    width: 100%;
    background: #008f99;
    padding: 1rem;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background: #555;
    border-radius: 4px;
}


section {
    min-height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#home {
    background: #a5f0a6;
    margin-top: 60px;
}

#today_weather {
    background: #ffc5c5;
}

#week_weather {
    background: #fcfdaa;
}

footer {
    background: #333;
    color: rgb(198, 167, 255);
    text-align: center;
    padding: 1rem;
}